table {
    background-color: rgb(250, 198, 222);
    text-align: center;
    border: 1px solid black;
    border-spacing: 0px;
}

td,th {
    border: 1px solid;
    width: 80px;
    height: 50px;
    padding: 10px;
}

col {
    background-color: rgb(212, 86, 250);
}

tr:first-child {
    background-color: rgb(229, 165, 245);
}

#w2 {
    background-color: rgb(212, 86, 250);
}