div {
    display: inline-block;
    border: 2px solid;
    width: 100px;
    height: 100px;
    margin: 10px;
}
#e1 {
    background-image: linear-gradient(blue, red);
}
#e2 {
    background-image: repeating-linear-gradient(45deg, red, 5px,blue 5px, blue 10px);
}
#e3 {
    background-image: radial-gradient(yellow,green);
}
#e4 {
    background-image: repeating-radial-gradient(yellow,yellow 5px,green 5px, green 10px);
}
#e5 {
    background-image: radial-gradient(yellow, green, transparent), linear-gradient(blue, purple);
}