article{
    margin-right: 440px;
    display: block;
}

aside{
    float:right;
    margin: 0 1.5%;;
    width: 15%;
    font-size: 1.3em;
}

main{
    margin: 45px;
    max-width: 75%;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited{
    color: #8B0000;
}

a:hover{
    color: rgb(0, 255, 0);
}

a:active{
    color:rgb(184, 134, 11);
}