nav li {
    position: absolute;
    display: none;

}

nav ul:hover li{
    display:block;
    visibility: visible;

}

ul {
    text-decoration: none;
    display: block;
    max-width: 200px;
    border:solid 2px;
    background-color: yellow;
    font-size: 25px;
    padding-top: 45px;
    padding-bottom: 45px; 
    padding-left:10px ;
    padding-right: 200px;
    margin-top: 70px;
    margin-left: 70px;
    text-align: left;
    position: absolute;
}

a{
    text-decoration: none;
    color: black;
}

li{
    border:dashed 4px;
    background-color: rgb(255, 128, 0);
    font-size: 20px;
    padding: 10px;
    list-style-type: none;
    width: 160px;
}

.s1{
    margin-top: 45px;
    margin-left: -12px;
    text-align: left;
}

.s2{
    padding: 10px;
    margin-top: 92px;
    margin-left: -12px;
    text-align: left;
}

.s3{
    padding: 10px;
    margin-top: 137px;
    margin-left: -12px;
    text-align: left;
}